@import "./utils/variables";

*,
*::after,
*::before {
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    z-index: 10;
        &__logo{
            font-family: Shrikhand,"cursive";
            text-align: center;
        }
}

.place {
    background-color: rgb(243, 243, 243);
}