*,
*::after,
*::before {
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

@import "./utils/variables";
@import "./Utils/mixins";
@import "./Layout/header";
@import "./Components/buttons";

.place {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    padding: 1rem;
        &__icon {
            margin-right: 1rem;
        }
        &__text {
            font-size: 1rem;
        }
}

.explore {
    background-color: $main-background-color;
    text-align: center;
    padding: 2rem 3rem 4rem 3rem;
        &__title {
            padding: 0.5rem;
        }
        &__text {
            font-size: 1.15rem;
            font-weight: 200;
            margin:0.5rem 0 2.5rem 0;
        }
}

.choice {
    @include bloc;
        &__list {
            background-color: $main-background-color;
            padding: 1.75rem;
            margin: 0.75rem;
            margin-right: 0.25rem;
            border-radius: 1rem;
            @include card-box-shadow;
            h4 {
                font-weight: 500;
                display: inline-block;
            }
            .fa-solid {
                color: $icon-color;
                display: inline-block;
                margin: 0 1rem;
                font-size: 1.15rem;
            }
            &--number {
                border-radius: 100%;
                background-color: $color-primary;
                color: white;
                padding:0.25rem 0.5rem;
                font-size: 0.85rem;
                margin-left: -2.50rem;
            }
            &:hover {
                .fa-solid {
                    color: $color-primary;
                }
                @include color-hover ($color-primary);
            }
    }
        &__title {
            margin-bottom: 1rem;
        }
}

.restaurant {
    background-color: $main-background-color;
    @include bloc;
    h1 {
        padding: 1.5rem 0;
    }
    a {
        text-decoration: none;
    }
}

.card {
    height: 15.5rem;
    border-radius: 1rem;
    background-color: white;
    position: relative;
    margin-bottom: 1rem;
    @include card-box-shadow;
    &__img {
        height: 11rem;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }
    &__badge {
        background-color:$color-tertiary;
        padding:0.5rem;
        border-radius:0.125rem;
        position:absolute;
        top:1rem;
        right:0.75rem;
        @include color-darken($color-tertiary)
    }
    &__title {
        color: black; 
        padding: 0.5rem 1rem 0.25rem 1rem;
    }  
    &__subtitle {
        color: black; 
        padding: 0 1rem;
    }   
    &__favorite {
        position:absolute;
        right:1.5rem;
        top:12.25rem;
        font-size: 1.75rem;
        color: rgb(65, 65, 65);
    }       
}

.footer {
    background-color: $footer-color;
    color: white;
    padding: 0.5rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__title {
        font-family: "Shrikhand", cursive;
        font-style: italic;
        font-weight: 700;
        margin: 1rem 0rem;
    }
    &__link {
        p {
            padding-bottom: 0.5rem;
            display: inline-block;
        }
        &--icon {
            padding-right: 0.5rem;
            font-size: 0.85rem;
        }
    }
}

.fa-handshake{
    transform: rotate(320deg);
    padding-right: 0.125rem;
}

