.choice {
    @include bloc;
    background-color: white;
    &__title {
        margin-bottom: 1rem;
        margin-right: 70%;
    }
    &__container {
        @include bloc;
        padding: 0;
        &--list {
            background-color: $main-background-color;
            padding: 1.75rem;
            margin: 0.75rem;
            margin-right: 0.25rem;
            border-radius: 1rem;
            cursor: pointer;
            @include card-box-shadow;
            h4 {
                font-weight: 500;
                display: inline-block;
            }
            .fa-solid {
                color: $icon-color;
                display: inline-block;
                margin: 0 1rem;
                font-size: 1.15rem;
            }
            &--number {
                border-radius: 100%;
                background-color: $color-primary;
                color: white;
                padding:0.25rem 0.5rem;
                font-size: 0.85rem;
                margin-left: -2.50rem;
            }
            &:hover {
                .fa-solid {
                    color: $color-primary;
                }
                @include color-hover ($color-primary);
            }
            @media screen and (min-width: 768px) {
                width: 50%;
            }
            @media screen and (min-width: 992px) {
                width: 100%;
            }
        }
        @media screen and (min-width: 768px) {
            flex-direction: column;
            #choice1 {
                display: flex;
                justify-content: flex-start;
            }
            #choice2 {
                display: flex;
                justify-content: center;
            }
            #choice3 {
                display: flex;
                justify-content: flex-end;
            }
        }
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-around;
            #choice1, #choice2, #choice3 {
                display: block;
                width: 30%;
            }
        }
    }
}
