.footer {
    background-color: $footer-color;
    color: white;
    padding: 0.5rem 2rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;

    &__title {
        font-family: "Shrikhand", cursive;
        font-style: italic;
        font-weight: 700;
        margin: 1rem 0rem;
    }
    &__link {
        a {
            color: white;
        }
        p {
            padding-bottom: 0.5rem;
            display: inline-block;
        }
        &--icon {
            padding-right: 0.5rem;
            font-size: 0.85rem;
        }
        &--hand {
            transform: rotate(320deg);
            padding-right: 0.125rem;
        }
    }
}