.header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    display: flex;
    align-items: center;
        &__arrow {
            color: black;
            font-size: 1.25rem;
            padding: 0.5rem;
            margin-left: 0.75rem;
            &:hover {
                border-radius: 100%;
                cursor: pointer;
                background-color: $main-background-color;
            }
        }
        &__logo{
            margin:auto;
        }
}