*,
*::after,
*::before {
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    max-width: 1400px;
    background: $main-background-color;
}