.loader {
    @include flex-center;
    align-items: center;
    background: white;
    z-index: 10;
    inset: 0;
    position: fixed;
    animation: loader 3.5s forwards;

    .circle {
        position: relative;
        width: 155px; height: 155px;
        border-radius: 50%;
        background: linear-gradient($color-primary, $color-secondary, $color-tertiary);
        z-index: 20;
        @include flex-center;
        align-items: center;
        animation: spinner 1s linear infinite;

        &__inner {
            position: absolute;
            width: 135px; height: 135px;
            border-radius: 50%;
            background-color: white;
            z-index: 30;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate (0deg);
    }
    100% {
        transform: rotate(360deg) ;
    }
}

@keyframes loader {
    from {
        opacity: 100%;
    }
    to {
        opacity: 90%;
        visibility: hidden;
    }
}