.loader {
    display: flex;
    justify-items: center;
    align-items: center;
    background: white;
    z-index: 20;
    inset: 0;
    position: fixed;
    animation: 4s infinite;
    animation: loaderout 2s forwards;
    .spinner {
        border-top: 10px solid $color-primary ;
        border-bottom: 10px solid $color-secondary;
        border-left: 2px solid $color-tertiary;
        border-right: 2px solid $color-tertiary;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: auto;
        position: relative;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate (0deg);
    }
    100% {
        transform: rotate(360deg) ;
    }
}
@keyframes loaderout {
    from {
    opacity: 200%;
    }
    to {
    opacity: 50%;
    visibility: hidden;
    }
  }