.header_image {
    img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }
}

.menu {
    background-color: $main-background-color;
    border-radius: 2.75rem 2.75rem 0 0;
    margin-top: -2.75rem;
    width: 100%;
    position: relative;
    z-index: 2;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    &__title {
        width: 90%;
        margin:auto;
        @include flex-between;
        font-family: "Shrikhand", cursive;
        font-size: 1.125rem;
        font-style: italic;
        padding: 2rem 0;
        text-align: center;
        &--heart {
            right: -0.75rem;
            top: -12rem;
            position: relative;
        }
        @media screen and (min-width: 768px)  {
            width: 23%;
            min-width: 19rem;
        }
    }
    &__bloc {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__type {
        padding: 0.75rem 1rem 1.75rem 1rem;
        animation: menu 2 forwards;
        overflow: hidden;
        &--title {
            font-weight: 300;
            padding-bottom: 1.5rem;
        }
        &::after {
            content: " ";
            width: 2.42rem;
            height: 0.18rem;
            position: absolute;
            background-color: $color-tertiary;
            margin-bottom: 1rem; 
            top: 2.25rem;
            bottom: 0;
        }
        @media screen and (min-width: 768px) {
            width: 33%;
        }
    }
    &__button {
        text-align: center;
        padding: 1rem 1rem 4rem 1rem;
        a{
            padding: 1rem 2.75rem;
        }
    }
}

@keyframes menu {
    from {
        transform: translateY(2rem);
        opacity: 0;
        }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.menu__card {
    display: flex;
    height: 4.25rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    animation: menu 0.5s ease-in forwards;
    opacity: 0;
    &--info {
        @include flex-between;
        overflow: hidden;
        width: 100%;
    }
    &--description {
        font-weight: 200;
        white-space: nowrap;
        overflow: hidden;
        padding: 0.75rem;
        h3 {
            padding-bottom: 0.25rem;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            font-size: 0.95rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    span {
        padding:2rem 0.75rem 1rem;
        font-size: 1rem;
        font-weight: 500;
    }
    .check__slide {
        width: 0;
        height: 100%;
        opacity: 0;
        background: $color-tertiary;
        align-items: center;
        @include flex-center;
        transition: transform 0.5s ease-in-out,
                        width 0.5s ease-in-out,
                        opacity 0.5s ease-in-out;
        .check__cercle {
            background-color: white;
            color: $color-tertiary;
            border-radius: 50%;
            padding: 0.2rem;
            height: 1.75rem;
            width: 1.75rem;
            font-size: 1.25rem;
            transform: rotate(0deg);
            transition: 0.4s ease-in-out;
        }
    }
    &:hover {
        .check__slide {
            width: 4.5rem;
            opacity: 1;
            transition: transform 0.5s ease-in-out,
                        width 0.5s ease-in-out,
                        opacity 0.5s ease-in-out;
        }
        .check__cercle {
            transform: rotate(360deg);
            transition: 0.4s ease-in-out;
        }
    }
}

#entree {
    .menu__card {
        @include delay-entree;
    }
}
#plat {
    .menu__card {
        @include delay-plat;
    }
}
#dessert {
    .menu__card {
        @include delay-dessert;
    }
}

