@mixin btn-box-shadow {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}

@mixin card-box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

@mixin color-hover($colour){
    $colour: lighten($colour, 35%);
    background-color: $colour;
}

@mixin color-darken($colour){
    $colour: darken($colour, 40%);
    color: $colour;
}

@mixin bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 3rem 1.25rem;

}