@mixin flex-center {
    display:flex;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}
@mixin btn-box-shadow {
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
}

@mixin card-box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 10px;
}

@mixin card-box-shadow-hover {
    box-shadow: rgba(139, 143, 149, 0.4) 0px 8px 24px;
}

@mixin color-hover($colour){
    $colour: lighten($colour, 35%);
    background-color: $colour;
}

@mixin color-darken($colour){
    $colour: darken($colour, 40%);
    color: $colour;
}

@mixin bloc {
    @include flex-center;
    flex-direction: column;
    margin: auto;
    padding: 3rem 1.25rem;
    width: 100%;
}

@mixin delay-entree {
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
      }
}

@mixin delay-plat {
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) { animation-delay: $i * 0.25s + 1; }
      }
}

@mixin delay-dessert {
    @for $i from 1 to 5 {
        &:nth-child(#{$i}) { animation-delay: $i * 0.25s + 2; }
      }
}
